<% layout('../layout') -%>
<% title="My Resume" %>
<div style="height: 100%; width: 100%">
<iframe height="100%" width="100%" src="https://docs.google.com/document/d/10pXXcVl1twKhFq2XKe29PI5z-Z2fyglINwKgA9bKfEQ/pub?embedded=true">
</iframe>
    </div>